image: golang:latest

stages:
  - build
  - test
  - deploy

variables:
  POSTGRES_USER: "postgres"
  POSTGRES_PASSWORD: "postgres"
  POSTGRES_DB: "billing_db"
  POSTGRES_HOST: "localhost"
  POSTGRES_PORT: "5432"

before_script:
  - go get -u github.com/gin-gonic/gin
  - go get -u gorm.io/gorm
  - go get -u gorm.io/driver/postgres
  - go get -u github.com/ilyakaznacheev/cleanenv
  - go get -u github.com/sirupsen/logrus

build:
  stage: build
  script:
    - go build -o billing

test:
  stage: test
  script:
    - go test -v ./...

deploy:
  stage: deploy
  script:
    - docker build -t billing
    - docker run -d --name billing -p 8080:8080 -e POSTGRES_USER=$POSTGRES_USER -e POSTGRES_PASSWORD=$POSTGRES_PASSWORD -e POSTGRES_DB=$POSTGRES_DB -e POSTGRES_HOST=$POSTGRES_HOST -e POSTGRES_PORT=$POSTGRES_PORT billing